@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-light: 300;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;
}
body {
  background: hsla(0, 91%, 58%, 0.856);
}
.logo {
  height: 70px;
}
.cart-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.header {
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  height: 70px;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-list {
  gap: 40px;
}
.navbar {
  gap: 40px;
}
.navbar-list a {
  color: black;
  font-weight: var(--font-semibold);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#hero {
  margin-top: 35px;
  padding: 75px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
.hero-info h1 {
  font-size: 32px;
  font-weight: var(--font-black);
  color: whitesmoke;
  min-width: 500px;
  width: 80%;
}

.hero-info p {
  font-size: 14px;
  width: 70%;
  color: whitesmoke;
}

.hero-info p > span {
  font-weight: var(--font-black);
}
.btn {
  font-size: 14px;
  color: whitesmoke;
  background: rgb(100, 1, 1);
  padding: 8px 20px;
  border-radius: 10px;
}

.hero-card {
  background: rgb(100, 1, 1);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 350px;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.hero-card-top h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: var(--font-semibold);
}
.hero-card-top span {
  background: rgb(245, 245, 245);
  padding: 3px 20px;
  border-radius: 8px;
  font-size: 14px;
}
.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-vendedor {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-card-vendedor img {
  width: 40px;
  border-radius: 5px;
}
.vendedor-info span,
.hero-card-price {
  font-size: 16px;
  font-weight: var(--font-light);
}
.vendedor-info p,
.hero-card-price span {
  font-size: 16px;
  font-weight: var(--font-semibold);
}
.hero-card-price span {
  font-weight: var(--font-bold);
}
/*info card */
#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#info h2 {
  font-size: 26px;
  font-weight: var(--font-black);
}
.info-card-conteiner {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info-card {
  text-align: center;
  background: rgb(100, 1, 1);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 300px;
  height: 400px;
}
.info-card img {
  width: 75px;
}
.info-card h3 {
  font-weight: 18px;
  font-size: var(--font-bold);
}
.info-card p {
  font-size: 16px;
  font-weight: var(--font-light);
}
